<tr id="<%= dom_id(card) %>" class="homepage-card">
  <td>
    <%= card.label %><br>
    <%= card.title %>
  </td>
  <td><%= card.description %></td>
  <td>
    <%= card.link_text %><br>
    <%= card.link_url %>
  </td>

  <!-- remove conditional once specs have image validations -->
  <td class="text-right">
    <% if card.image.present? %>
      <%= link_to card.image_url(:large), title: card.image.title, target: "_blank" do %>
        <i class="icon-eye" title="<%= t("admin.shared.show_image") %>"></i>
      <% end %>
    <% end %>
    <%= link_to edit_admin_widget_card_path(card) do %>
      <i class="icon-edit" title="<%= t("admin.actions.edit") %>"></i>
    <% end %>
    <%= link_to admin_widget_card_path(card), method: :delete, data: { confirm: t("admin.actions.confirm") }, class: "red" do %>
      <i class="icon-delete" title="<%= t("admin.actions.delete") %>"></i>
    <% end %>
  </td>
</tr>
