<% banner = @banners.sample %>
<div class="expanded banner no-margin-top" style="margin-bottom:1.5rem;">
  <div class="row" style="background-color:<%= banner.background_color %>;">
    <div class="column">
      <%= link_to banner.target_url do %>
        <h2 style="color:<%= banner.font_color %>;"><%= banner.title %></h2>
        <h3 style="color:<%= banner.font_color %>;"><%= banner.description %></h3>
      <% end %>
    </div>
  </div>
</div>
