<% if header.present? %>
  <div class="jumbo highlight">
    <div class="row" data-equalizer>
      <div class="small-12 column <%= header.image.present? ? "medium-6" : " small-centered"  %>" data-equalizer-watch>
        <% if header.label.present? %>
          <span><%= header.label %></span>
        <% end %>
        <% if header.title.present? %>
          <h1><%= header.title %></h1>
        <% end %>
        <% if header.description.present? %>
        <p class="lead"><%= header.description.html_safe %></p>
        <% end %>
        <% if header.link_url.present? %>
        <div>
          <%= link_to header.link_text, header.link_url, class: "button large" %>
        </div>
        <% end %>
      </div>

      <% if header.image.present? %>
        <div class="small-12 medium-6 column" style="background-image:url('<%= header.image_url(:large)%>');background-size:cover;" title="<%=header.image.title%>" data-equalizer-watch>
        </div>
      <% end %>
    </div>
  </div>
  <div class="background-header"></div>
<% end %>
