<tr id="booth_<%= booth.id %>" class="booth">
  <td>
    <%= booth.name %>
  </td>
  <td>
    <%= booth.location %>
  </td>
  <td class="text-right">
    <% if controller_name == "shifts" || controller_name == "booths" && action_name == "available" %>
      <%= link_to new_admin_booth_shift_path(booth) do %>
        <i class="fas fa-cog" title="<%= t("admin.booths.booth.shifts") %>"></i>
      <% end %>
    <% else %>
      <%= link_to edit_admin_booth_path(booth) do %>
        <i class="fas fa-pencil-alt" title="<%= t("admin.booths.booth.edit") %>"></i>
      <% end %>
    <% end %>
  </td>
</tr>
