<tr id="<%= dom_id(poll) %>" class="poll">
  <td>
    <strong>
      <%= link_to poll.name, admin_poll_path(poll) %>
    </strong>
  </td>
  <td class="text-center">
    <%= l poll.starts_at.to_date %>
  </td>
  <td class="text-center">
    <%= l poll.ends_at.to_date %>
  </td>
  <td class="text-right">
    <%= link_to edit_admin_poll_path(poll) do %>
      <i class="icon-edit" title="<%= t("admin.actions.edit") %>"></i>
    <% end %>
    <%= link_to admin_poll_path(poll), method: delete, "data-confirm": t("admin.polls.destroy.alert") do %>
      <i class="icon-edit" title="<%= t("admin.actions.delete") %>"></i>
    <% end %>
    <%= link_to admin_poll_path(poll) do %>
      <i class="icon-settings" title="<%= t("admin.actions.configure") %>"></i>
    <% end %>
  </td>
</tr>
