<table>
  <thead>
    <tr>
      <th><%= t("admin.settings.setting") %></th>
      <th><%= t("admin.settings.setting_status") %></th>
      <th><%= t("admin.settings.setting_actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% features.each do |feature| %>
      <% if feature.key.sub("feature.","").split("_").last == "login"%>
        <%# Omniauth features %>
        <% if Devise.omniauth_configs.any? %>
          <%# check to see if the omniauth for this one exists %>
          <% if Devise.omniauth_configs[feature.key.sub("feature.","").split("_").first.to_sym].present? || 
            (feature.key.sub("feature.","").split("_").first == "google" && Devise.omniauth_configs[:google_oauth2].present?) ||
            (feature.key.sub("feature.","").split("_").first == "wordpress" && Devise.omniauth_configs[:wordpress_oauth2].present?)
          %>
            <tr class="<%= feature.key.sub("feature.","").split("_").first%>">
              <%# Omniauth for this provider available %>
              <td class="small-8">
                <strong><%= t("settings.#{feature.key}") %> </strong>
                <br>
                <span class="small">
                  <%= t("settings.#{feature.key}_description", default: t("admin.settings.no_description")) %>
                </span>
              </td>

              <td>
                <% if feature.enabled? %>
                  <span class="enabled">
                    <strong>
                      <%= t ("admin.settings.index.features.enabled") %>
                    </strong>
                  </span>
                <% else %>
                  <span class="disabled">
                    <%= t("admin.settings.index.features.disabled") %>
                  </span>
                <% end %>
              </td>

              <td class="text-right">
                <%= form_for(feature, url: admin_setting_path(feature), html: { id: "edit_#{dom_id(feature)}"}) do |f| %>

                  <%= f.hidden_field :value, id: dom_id(feature), value: (feature.enabled? ? "" : "active") %>
                  <%= f.submit(t("admin.settings.index.features.#{feature.enabled? ? 'disable' : 'enable'}"),
                              class: "button expanded #{feature.enabled? ? 'hollow alert' : 'success'}",
                              data: {confirm: t("admin.actions.confirm")}) %>
                <% end %>
              </td>
            </tr>
          <% else %>
            <%# Omniauth for this provider not available %>
            <tr class="<%= feature.key.sub("feature.","").split("_").first%> disabled">
              <td class="small-8">
              <strong><%= t("settings.#{feature.key}") %> </strong>
              <br>
              <span class="small">
                <%= t("settings.#{feature.key}_description", default: t("admin.settings.no_description")) %>
              </span>
            </td>
            <td>
              <span class="disabled">
                <%= t("admin.settings.index.features.disabled") %>
              </span>
            </td>
            <td class="text-right"></td>
          </tr>
          <% end %>
        <% else %>
          <%# No Omniauth configurations available, show as disabled %>
          <tr class="disabled">
            <td class="small-8">
              <strong><%= t("settings.#{feature.key}") %> </strong>
              <br>
              <span class="small">
                <%= t("settings.#{feature.key}_description", default: t("admin.settings.no_description")) %>
              </span>
            </td>
            <td>
              <span class="disabled">
                <%= t("admin.settings.index.features.disabled") %>
              </span>
            </td>
            <td class="text-right"></td>
          </tr>
        <% end %>
      <% else %>
        <%# Regular features %>
        <tr>
          <td class="small-8">
            <strong><%= t("settings.#{feature.key}") %> </strong>
            <br>
            <span class="small">
              <%= t("settings.#{feature.key}_description", default: t("admin.settings.no_description")) %>
            </span>
          </td>

          <td>
            <% if feature.enabled? %>
              <span class="enabled">
                <strong>
                  <%= t ("admin.settings.index.features.enabled") %>
                </strong>
              </span>
            <% else %>
              <span class="disabled">
                <%= t("admin.settings.index.features.disabled") %>
              </span>
            <% end %>
          </td>

          <td class="text-right">
            <%= form_for(feature, url: admin_setting_path(feature), html: { id: "edit_#{dom_id(feature)}"}) do |f| %>

              <%= f.hidden_field :value, id: dom_id(feature), value: (feature.enabled? ? "" : "active") %>
              <%= f.submit(t("admin.settings.index.features.#{feature.enabled? ? 'disable' : 'enable'}"),
                          class: "button expanded #{feature.enabled? ? 'hollow alert' : 'success'}",
                          data: {confirm: t("admin.actions.confirm")}) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
