<header class="header">
  <div class="top-links">
    <div class="expanded row">
      <%= render "shared/locale_switcher" %>
    </div>
  </div>

  <div class="expanded row admin-top-bar">
    <div class="title-bar" data-responsive-toggle="responsive_menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive_menu"></button>
      <div class="title-bar-title"><%= t("application.menu")%></div>
    </div>

    <div class="top-bar">
      <div class="top-bar-left" style="margin-bottom:-1em;">
        <nav aria-label="You are here:" role="navigation">
          <ul class="breadcrumbs" style="padding-left: 0.9375rem;padding-top: 0.75rem;">
            <li><%= link_to setting["org_name"], root_path %></li>
            <li><%= link_to t("layouts.header.administration"), admin_root_path %></li>
            <% if @title.present? %>
            <li>
              <span class="show-for-sr">Current: </span> <%= @title %>
            </li>
            <% end %>
          </ul>
        </nav>
      </div>

      <div id="responsive_menu">
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <%= render "admin/shared/admin_shortcuts" %>
            <%= render "shared/admin_login_items" %>
            <%= render "layouts/notification_item" %>
            <%= render "devise/menu/login_items" %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
